<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playerStart</key>
	<dict>
		<key>x</key>
		<integer>66</integer>
		<key>y</key>
		<integer>395</integer>
	</dict>
	<key>goal</key>
	<dict>
		<key>x</key>
		<integer>399</integer>
		<key>y</key>
		<integer>402</integer>
	</dict>
	<key>has_spikes</key>
	<false/>
</dict>
</plist>
