<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BottomArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,582},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>BottomArrowPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,532},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,568},{196,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,102}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>ButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,464},{196,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,102}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>TopArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,482},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>TopArrowPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,414},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>ballDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,980},{35,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{35,35}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ballDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,985},{35,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{35,35}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ballDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,985},{43,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{43,37}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ballDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{51,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{51,43}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ballDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,754},{69,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{69,59}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bling0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,794},{50,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,43}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>bling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,818},{52,45}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{52,45}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>bling2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,872},{54,45}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,45}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>brokenTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,874},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>brokenTile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,940},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>brokenTile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,414},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,66}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>brokenTile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,672},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,72}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>brokenTile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,714},{38,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,72}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>cage4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,672},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>circleLarge6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>circleMed4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,276},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>circleSmall3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,698},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,134},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,277},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,38},{3,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{3,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,246},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,103},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,215},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,38},{3,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{3,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>coin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,184},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>crossPlatform4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,306}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>dummyTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,874},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>keySprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,815},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>mosquito0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,722},{62,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>mosquito1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,773},{62,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,43}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>platformLong9Tiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,174},{288,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,32}}</string>
                <key>sourceSize</key>
                <string>{288,32}</string>
            </dict>
            <key>platformMedium6Tiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{192,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>platformSmall3Tiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>playerBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,957},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>playerBallHit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,815},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>playerBallHit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,863},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>playerBallHit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,921},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>shooter0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,928},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>shooter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,871},{34,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>shooterBullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,81},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>shooterBullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,59},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>smoke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{34,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{34,27}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,756},{36,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,29}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,929},{54,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{54,47}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,940},{58,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,47}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>sparkles0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,38},{19,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>sparkles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,165},{17,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{17,19}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>sparkles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,448},{15,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{15,13}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>spikePlatformSmall3Tiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,632},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>spikeStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,839},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>steelBarrierSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{32,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,128}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>trianglePlatform10x6_25y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>trianglePlatform8x5y.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{272,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,136}}</string>
                <key>sourceSize</key>
                <string>{272,136}</string>
            </dict>
            <key>vortex.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,873},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>woodBarrier.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,945},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>woodBarrier2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{32,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{32,65}}</string>
                <key>sourceSize</key>
                <string>{42,83}</string>
            </dict>
            <key>woodBarrier3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{34,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{34,69}}</string>
                <key>sourceSize</key>
                <string>{42,83}</string>
            </dict>
            <key>woodBarrier4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{40,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,75}}</string>
                <key>sourceSize</key>
                <string>{42,83}</string>
            </dict>
            <key>woodBarrier5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,75}}</string>
                <key>sourceSize</key>
                <string>{42,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ballSprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c0c3be72063422c66f4b36cbb7a385$</string>
            <key>textureFileName</key>
            <string>ballSprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
